* {
  margin: 0;
  padding: 0;
}

.cabecalho{
  background-color: blueviolet;
}

.titulo-principal{
  color:white;
  font-size: x-large;
  text-align: center;
}

.titulo-secundario{
  color: gold;
  font-size: small;
  text-align: left;
}